@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
    background-color: #111;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #444;
    margin: .7 1em;
}

header {
    padding: 2em;
    text-align: center;
}

header h1 {
    font-size: 3em;
    text-shadow: 5px 5px rgba(0,0,0,0.1);
}

main {
    margin: 0 auto;
    text-align: center;
}

.img-container {
    width: 70%;
    margin: 0 auto;
    background: #333;
    color: #fff;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.1),
                0 5px 5px 0 rgba(0,0,0,0.7);
}

img {
    width: 100%;
}

.img-container p {
    padding: .5em 0 1em;
}

.bio-container {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 2em 0;
    
}

.bio-container p {
    padding-right: 5em;
    line-height: 1.8;
}

.bio-container a {
    color: #fff;
    margin: 1em 0;
}

.footer {
    margin-top: 2em;
    line-height: 1.4;
}

@media (max-width: 500px) {
    header h1 {
        font-size: 2.4em;
        line-height: 1.3;
    }

    header p {
        padding: 0 1em;
    }

    span {
        display: none;
    }

    #img-caption {
        padding: .6em;
    }

    .bio-container {
        padding-right: 0;
        padding-left: 0;
    }

    .bio-container p {
        padding-right: 0;
        line-height: 1.8;

}
